@{
    ViewData["Title"] = "Home Page";
}


<div id="page-one">
  <div class="container">
    <h2>
        Hayatsu <br>はやつ
    </h2>
  </div>
</div>

<div id="page-two">
  <h2>Menu
  </h2>
</div>

<div id="page-three">
  <h2>About Us</h2>
</div>

<div id="page-four">
  <h2>Location</h2>
  <div class="row">

  </div>
</div>