@{
    ViewData["Title"] = "Home Page";
}


<div id="page-one">
  <div class="container">
    <div class="row justify-content-md-center">
    <div class="col-3">
        <h2>
            Hayatsu <br>はやつ
        </h2>+++++--+-+-+-+-+-+-*/-*/-*/
    </div>
    <div class="col-4">
        <h2>
            Ramen <br>ラーメン
        </h2>
    </div>
  </div>
    </div>
</div>

<div id="page-two">
    <h2 class="text-center"> Menu</h2>
    <div class="container pt-4">
        <div class="row align-content-md-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h3>Ramen</h3>
                <div class="row align-content-md-center">
                    <div class="col">
                        <img src="https://via.placeholder.com/400x400?text=This+is+Food" class="img-fluid pb-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
                    </div>
                    <div class="col">
                        <img src="https://via.placeholder.com/400x400?text=This+is+Food" class="img-fluid pb-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h3>Drinks</h3>
                <div class="row align-content-md-center">
                    <div class="col">
                        <img src="https://via.placeholder.com/400x400?text=This+is+Food" class="img-fluid pb-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
                    </div>
                    <div class="col">
                        <img src="https://via.placeholder.com/400x400?text=This+is+Food" class="img-fluid pb-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page-three">
    <h2 class="text-center">About Us</h2>
    <div class="container features pt-4">
    <div class="row align-content-md-center">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Lorem ipsum</h3>
            <img src="images/column-1.jpg" class="img-fluid">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Lorem ipsum</h3>
            <img src="images/column-2.jpg" class="img-fluid">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12">
             <h3 class="feature-title">Lorem ipsum</h3>
            <img src="images/column-2.jpg" class="img-fluid">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
        </div>
    </div>
    </div>
</div>

<div id="page-four">
  <h2 class="text-center">Location</h2>
  <div class="map-container pt-4">
    <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207.04884298001804!2d151.20622929380733!3d-33.86952187391051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3f1347eb7f%3A0x78108376caf6d5!2s46%20York%20St%2C%20Sydney%20NSW%202000%2C%20Australia!5e0!3m2!1sen!2snz!4v1648594566143!5m2!1sen!2snz" width="600" height="400" loading="lazy"></iframe>
  </div>  
    <h4 class="text-center pt-4">Directions and Parking</h4>
    <p class="text-center pt-2"> lorem iprums ldjv rs </p>
</div>