html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
}


html, body, #page-one, #page-two, #page-three, #page-four {
    height: auto;
    min-height: 80vh;
    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
    background-color: #b2e6e6;
}

.map {
    width: 600px;
    margin-right: auto;
    margin-left: auto
}