html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
}

html, body{
    height: auto;
    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
    background-color: #e5deb8;
}

#page-one {
    max-height: 50vh
}

#page-two, #page-three, #page-four {
    min-height: 80vh;
}


#page-two, #page-three, #page-four {
    padding-top: 100px
}

.map-container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 65%;
    padding-bottom: 40%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

a.deco-none {
    color: inherit;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainNav{
    display: inline-block;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 3;
}
