@{
    ViewData["Title"] = "Home Page";
}
<div id="mandatory">
    <div id="page-one">
      <h2>Welcome</h2>
    </div>

    <div id="page-two">
          <h2>Page Two</h2>
    </div>
</div>

<div id="proximity">

    <div id="page-three">
      <h2>Page Three</h2>
    </div>

    <div id="page-four">
      <h2>Page Four</h2>
    </div>

</div>